.indexBox {
	width: 100%;
	min-height: 100%;
	background-image: url("../img/bg_new.png");
	background-size: cover;
	background-position: center;
	position: relative;
}

.particles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 99;
}

.indexBox .headBox {
	width: 100%;
	height: 6.52rem;
	background-image: url("../img/head_new.png");
	background-size: 85% 100%;
	background-position: center bottom;
	position: absolute;
	top: 0;
	left: 0;
}

.indexBox .headBox .time {
	position: absolute;
	right: 2rem;
	top: 0.5rem;
	font-size: 1.72rem;
	color: #fff;
	font-family: "YS";
}

.indexBox .mainBox {
	padding: 3rem 1rem 0;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}

.indexBox .mainBox .left {
	width: 31.14rem;
	height: 100%;
}

.indexBox .unusual {
	width: 100%;
	height: 24rem;
	background-image: url("../img/frame_0_new.png");
	background-size: 100% 100%;
}

.indexBox .unusual .title {
	font-size: 1.72rem;
	text-shadow: 0px 3px 0px rgba(0, 9, 17, 0.52);
	color: #fff;
	padding: 0.7rem 0 1rem 5rem;
	font-family: "YS";
	letter-spacing: 0.15rem;
	line-height: 2.58rem;
}

.indexBox .unusual .swiperHead {
	width: 28.42rem;
	margin: 0 auto;
	height: 3.58rem;
	font-size: 1.28rem;
	color: #fff;
	line-height: 3.58rem;
	font-weight: bold;
	text-shadow: 2px 2px 5px #6fa3ef, -2px -2px 5px #6fa3ef, 0 0 10px #6fa3ef;
}

.indexBox .unusual .swiperHead li,
.indexBox .unusual .swiperBody li {
	float: left;
	width: 30%;
	text-align: center;
}

.indexBox .unusual .swiperBody li {
	display: flex;
	text-align: center;
	align-items: center;
	height: 100%;
}

.indexBox .unusual .swiperBody li span {
	display: block;
	width: 100%;
}

.indexBox .unusual .swiperBody li:nth-child(1) {
	color: #FFE117;
}

.indexBox .unusual .swiperHead li:nth-child(2),
.indexBox .unusual .swiperBody li:nth-child(2) {
	width: 30%;
}

.indexBox .unusual .swiperHead li:nth-child(3),
.indexBox .unusual .swiperBody li:nth-child(3) {
	width: 40%;
}

#unusualSwiper {
	width: 28.42rem;
	margin: 0 auto;
	height: 15.04rem;
}

.indexBox .unusual .swiperBody {
	color: #fff;
	font-size: 1rem;
	line-height: 3.22rem;
	background-image: url("../img/frame_11.png");
	background-size: 100% 100%;
	height: 3.22rem;
	cursor: pointer;
}

.indexBox .unusual .swiperBody:hover {
	background-image: url("../img/frame_3.png");
}

.indexBox .check {
	width: 100%;
	height: 24rem;
	background-image: url("../img/frame_0_new.png");
	background-size: 100% 100%;
	margin: 0.72rem 0;
}

.indexBox .check .title {
	font-size: 1.72rem;
	text-shadow: 0px 3px 0px rgba(0, 9, 17, 0.52);
	color: #fff;
	padding: 0.7rem 0 1rem 4rem;
	font-family: "YS";
	letter-spacing: 0.15rem;
	line-height: 2.58rem;

}

.indexBox .check {
	width: 100%;
	padding: 0 0.72rem 0 1.14rem;
}

.indexBox .check .bodyInfo {
	width: 100%;
	padding: 0.14rem 0;
	height: 4.92rem;
	margin-top: 0.5rem;
}

#check {
	height: 19.68rem;
	width: 100%;
}

.indexBox .check .bodyInfo .icon {
	height: 4.62rem;
	margin: 0 1rem 0 0;
	flex: 0 0 auto;
}

.indexBox .check .bodyInfo .info {
	width: 100%;
	height: 100%;
	/* background-image: url("../img/icon_8.png"); */
	background-size: 100% 100%;
	padding: 0 0.5rem 0 0.86rem;
	margin: 0.36rem 0;
	display: flex;
}

.indexBox .check .bodyInfo .info .status {
	color: #fff;
	display: flex;
	align-items: center;
	margin: 0 0 0 auto;
	font-size: 1.1rem;
}

.indexBox .check .bodyInfo .info .status .work {
	border: 1px solid rgba(76, 134, 243);
	border-radius: 1rem;
	/* box-shadow: inset 2px 2px 5px #6fa3ef, -2px -2px 5px #6fa3ef, 0 0 10px #6fa3ef; */
	box-shadow: inset 0 0 10px rgba(76, 134, 243, 1);
	width: 5rem;
	text-align: center;
}

.indexBox .check .bodyInfo .info .status .rest {
	border: 1px solid rgb(122, 120, 120);
	border-radius: 1rem;
	color: rgb(168, 165, 165);
	/* box-shadow: inset 2px 2px 5px #6fa3ef, -2px -2px 5px #6fa3ef, 0 0 10px #6fa3ef; */
	box-shadow: inset 0 0 10px rgba(122, 120, 120, 1);
	width: 5rem;
	text-align: center;
}

.indexBox .check .bodyInfo .info .name div {
	color: rgb(255, 255, 255, 1);
	font-size: 1.3rem;
	font-weight: bold;
	opacity: 0.89;
	line-height: 2.05rem;
	/* margin-left: 0.3rem; */
}

.indexBox .check .bodyInfo .info .name p {
	color: #fff;
	font-size: 1.2rem;
	line-height: 2.55rem;
}

/* .indexBox .check .bodyInfo .info .name p span {
	color: #FFE117;
	font-size: 0.96rem;
	line-height: 3.55rem;
} */

/* .indexBox .check .bodyInfo .info .value {
	color: #A2B2BB;
	font-size: 0.86rem;
	line-height: 1.95rem;
	width: 13rem;
} */

.indexBox .check .bodyInfo .info .value p span {
	color: #FFE117;
	margin-left: 0.3rem;
}

.indexBox .check .bodyInfo .info .type {
	color: #A2B2BB;
	font-size: 0.86rem;
	line-height: 1.95rem;
}

.indexBox .check .bodyInfo .info .type span {
	color: #FFE117;
	margin-left: 0.3rem;
}

.indexBox .capacity {
	width: 100%;
	height: 24rem;
	background-image: url("../img/frame_0_new.png");
	background-size: 100% 100%;
	position: relative;
}

.indexBox .capacity .title {
	font-size: 1.72rem;
	text-shadow: 0px 3px 0px rgba(0, 9, 17, 0.52);
	color: #fff;
	padding: 0.7rem 0 1rem 5rem;
	font-family: "YS";
	letter-spacing: 0.15rem;
	line-height: 2.58rem;
}

.indexBox .capacity .echarts {
	width: 100%;
	height: 19.9rem;
}


.indexBox .center {
	width: 69.86rem;
	margin: 0 1rem;
}

.indexBox .frame {
	width: 100%;
	height: 48.72rem;
	position: relative;
	margin-bottom: 0.72rem;
}

.indexBox .frame .icon {
	width: 79.85rem;
	position: absolute;
	bottom: -11.22rem;
	left: -4.2rem;
}

.indexBox .frame .list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.indexBox .frame .list li {
	width: 19.57rem;
	height: 7rem;
	position: absolute;
	line-height: 6.57rem;
	color: #b6b2b2;
	text-align: center;
	padding: 0 0 0 5.5rem;
	font-size: 1.28rem;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
}

.indexBox .frame .list li.active span {
	color: #fff;
	font-weight: bolder;
	text-shadow: 2px 2px 5px #6fa3ef, -2px -2px 5px #6fa3ef, 0 0 10px #6fa3ef;
}

.indexBox .frame .list li .badge {
	padding: 0.6rem 0.5rem 0 0;
	height: 6.3rem;
	width: 2.35rem;
}

.indexBox .frame .list li .badge sup {
	font-size: 1.28rem !important;
}

.indexBox .frame .list li .badge .el-badge__content {
	border: none;
	/* display: inline; */
}

.indexBox .frame .list li.warn:nth-child(n) {
	/* padding: 0 0 0 0rem; */
	/* border: 1px solid; */
	color: #fff;
	text-shadow: 2px 2px 5px #ff3e3e, -2px -2px 5px #ff3e3e, 0 0 10px #ff3e3e;

}

.indexBox .frame .list li.wait:nth-child(1) {
	top: 6.4rem;
	left: 13.92rem;
	background-image: url("../img/menu_1_new.png");
	background-size: 19.57rem auto;
	line-height: 6rem;
}

.indexBox .frame .list li.active:nth-child(1) {
	top: 6.2rem;
	left: 13.92rem;
	background-image: url("../img/menu_1_0_new.png");
	background-size: 19.57rem auto;
	line-height: 6rem;
}

.indexBox .frame .list li.warn:nth-child(1) {
	top: 6.2rem;
	left: 13.92rem;
	background-image: url("../img/menu_1_new_err.png");
	background-size: 19.57rem auto;
	line-height: 6.4rem;
}

.indexBox .frame .list li.wait:nth-child(2) {
	top: 6.3rem;
	right: 16.22rem;
	background-image: url("../img/menu_1_new.png");
	background-size: 19.57rem auto;
	line-height: 6.2rem;
}

.indexBox .frame .list li.active:nth-child(2) {
	top: 6.1rem;
	right: 16.22rem;
	background-image: url("../img/menu_1_0_new.png");
	background-size: 19.57rem auto;
	line-height: 6.2rem;
}

.indexBox .frame .list li.warn:nth-child(2) {
	top: 6.1rem;
	right: 16.22rem;
	background-image: url("../img/menu_1_new_err.png");
	background-size: 19.57rem auto;
	line-height: 6.5rem;
}

.indexBox .frame .list li.wait:nth-child(3) {
	top: 19.02rem;
	left: 5.22rem;
	background-image: url("../img/menu_2_new.png");
	background-size: 19.57rem auto;
	line-height: 6rem;
}

.indexBox .frame .list li.active:nth-child(3) {
	top: 18.82rem;
	left: 5.22rem;
	background-image: url("../img/menu_2_0_new.png");
	background-size: 19.57rem auto;
	line-height: 6rem;
}

.indexBox .frame .list li.warn:nth-child(3) {
	top: 18.82rem;
	left: 5.22rem;
	background-image: url("../img/menu_2_new_err.png");
	background-size: 19.57rem auto;
	line-height: 6.1rem;
}

.indexBox .frame .list li.wait:nth-child(4) {
	top: 18.72rem;
	right: 6.82rem;
	background-image: url("../img/menu_2_new.png");
	background-size: 19.57rem auto;
	line-height: 6.2rem;
}

.indexBox .frame .list li.active:nth-child(4) {
	top: 18.52rem;
	right: 6.82rem;
	background-image: url("../img/menu_2_0_new.png");
	background-size: 19.57rem auto;
	line-height: 6.2rem;
}

.indexBox .frame .list li.warn:nth-child(4) {
	top: 18.52rem;
	right: 6.82rem;
	background-image: url("../img/menu_2_new_err.png");
	background-size: 19.57rem auto;
	line-height: 6.2rem;
}

.indexBox .frame .list li.wait:nth-child(5) {
	top: 32.99rem;
	left: -1.5rem;
	background-image: url("../img/menu_3_new.png");
	background-size: 18.64rem auto;
	line-height: 6.2rem;
}

.indexBox .frame .list li.active:nth-child(5) {
	top: 32.79rem;
	left: -1.5rem;
	background-image: url("../img/menu_3_0_new.png");
	background-size: 18.64rem auto;
	line-height: 6.2rem;
}

.indexBox .frame .list li.warn:nth-child(5) {
	top: 32.79rem;
	left: -1.5rem;
	background-image: url("../img/menu_3_new_err.png");
	background-size: 18.64rem auto;
	line-height: 6.6rem;
}

.indexBox .frame .list li.wait:nth-child(6) {
	top: 32.79rem;
	right: 0rem;
	background-image: url("../img/menu_3_new.png");
	background-size: 19.57rem auto;
	line-height: 6.2rem;
}

.indexBox .frame .list li.active:nth-child(6) {
	top: 32.59rem;
	right: 0rem;
	background-image: url("../img/menu_3_0_new.png");
	background-size: 19.57rem auto;
	line-height: 6.2rem;
}

.indexBox .frame .list li.warn:nth-child(6) {
	top: 32.59rem;
	right: 0rem;
	background-image: url("../img/menu_3_new_err.png");
	background-size: 19.57rem auto;
	line-height: 6.6rem;
}

.indexBox .room {
	width: 34.43rem;
	height: 24rem;
	background-image: url("../img/frame_0_new.png");
	background-size: 100% 100%;
	margin-right: 1rem;
}

.indexBox .room .title {
	font-size: 1.72rem;
	text-shadow: 0px 3px 0px rgba(0, 9, 17, 0.52);
	color: #fff;
	padding: 0.7rem 0 1rem 5rem;
	font-family: "YS";
	letter-spacing: 0.15rem;
	line-height: 2.58rem;
}

.indexBox .room .swiper {
	width: 31.64rem;
	margin: 0.72rem auto 0;
	height: 18.84rem;
	padding-left: 0.4rem;
}

.indexBox .room .swiper .bodyInfo {
	width: 100%;
	height: 3.42rem;
	line-height: 2.42rem;
	padding: 0.68rem 0 0 1.42rem;
	margin: -0.5rem 0 0.72rem;
	cursor: pointer;
	position: relative;
	/* border: 1px solid red; */
}

.indexBox .room .swiper .bodyInfo .tag {
	width: 4.85rem;
	height: 2.22rem;
	background-image: url("../img/using.png");
	background-size: 100% 100%;
	font-size: 0.86rem;
	line-height: 1.22rem;
	padding: 0 0.4rem 0 1rem;
	margin: 0 0.5rem 0 0;
	color: #fff;
}

.indexBox .room .swiper .bodyInfo .name {
	color: #fff;
	font-size: 1rem;
	width: 11.72rem;
	/* margin-right: 1rem; */
	margin: 0 2.5rem;
	height: 2.42rem;
}

.indexBox .room .swiper .bodyInfo .type {
	color: #fff;
	font-size: 1rem;
}

.indexBox .room .swiper .bodyInfo .tag.yellow {
	background-image: url("../img/noUse.png");
}

.indexBox .room .swiper .bodyInfo .tag.red {
	background-image: url("../img/noUse.png");
}

.indexBox .room .swiper .bodyInfo.red {
	background-image: url("../img/warningBox.png");
	background-size: 100% 100%;
}

/* .indexBox .room .swiper .bodyInfo {
	background-image: url("../img/frame_10.png");
	background-size: 100% 100%;
} */

.indexBox .room .swiper .bodyInfo:hover {
	background-image: url("../img/frame_3.png");
	background-size: 100% 100%;
}

.indexBox .onLine {
	width: 34.43rem;
	height: 24rem;
	background-image: url("../img/frame_0_new.png");
	background-size: 100% 100%;
	position: relative;
}

.indexBox .onLine .title {
	font-size: 1.72rem;
	text-shadow: 0px 3px 0px rgba(0, 9, 17, 0.52);
	color: #fff;
	padding: 0.7rem 0 1rem 5rem;
	font-family: "YS";
	letter-spacing: 0.15rem;
	line-height: 2.58rem;
}

.indexBox .onLine .tagList {
	padding: 0 0 0 0.1rem;
}

.indexBox .onLine .tagList li {
	float: left;
}

.indexBox .onLine .tagList li .icon {
	height: 4.14rem;
}

.indexBox .onLine .tagList li .info {
	padding: 0.3rem 0 0 0.5rem;
	width: 4.6rem;
}

.indexBox .onLine .tagList li .info .val {
	width: 5rem;
	background: linear-gradient(0deg, #F5D133 0%, #EFB921 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.6rem;
	height: 1.6rem;
}

.indexBox .onLine .tagList li .info .val.active {
	background: linear-gradient(0deg, #FF6161 0%, #FF6161 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.indexBox .onLine .tagList li .info .name {
	color: #fff;
	font-size: 1rem;
	line-height: 1.72rem;
}


.indexBox .onLine .tagList li .info .active {
	color: #FF6161;
}

.indexBox .onLine .swiperHead {
	width: 32.35rem;
	margin: 0.5rem auto 0;
	font-size: 1.14rem;
	color: #fff;
	font-weight: bold;
	line-height: 3rem;
	text-shadow: 2px 2px 5px #6fa3ef, -2px -2px 5px #6fa3ef, 0 0 10px #6fa3ef;
}

.indexBox .onLine .swiperHead li,
.indexBox .onLine .swiperBody li {
	float: left;
	width: 5rem;
	text-align: center;
}

.indexBox .onLine .swiperHead li:nth-child(1),
.indexBox .onLine .swiperBody li:nth-child(1) {
	width: 30%;
	padding-left: 0.5rem;
}

.indexBox .onLine .swiperHead li:nth-child(2),
.indexBox .onLine .swiperBody li:nth-child(2) {
	width: 19%;
}

.indexBox .onLine .swiperHead li:nth-child(3),
.indexBox .onLine .swiperBody li:nth-child(4) {
	width: 15%;
}

.indexBox .onLine .swiperHead li:nth-child(4),
.indexBox .onLine .swiperBody li:nth-child(4) {
	width: 20%;
}

.indexBox .onLine .swiperHead li:nth-child(5),
.indexBox .onLine .swiperBody li:nth-child(5) {
	width: 15%;
}

.indexBox .onLine .roomTxt {
	position: absolute;
	width: 8.92rem;
	height: 2.14rem;
	/* background-image: url("../img/frame_8.png"); */
	/* background-size: 100% 100%; */
	top: 1.1rem;
	right: 1rem;
	text-align: center;
	color: #fff;
	font-size: 1.14rem;
	line-height: 2.14rem;
}

#onLineSwiper {
	width: 32.35rem;
	margin: 0 auto;
	height: 11.18rem;
}

.indexBox .onLine .swiperBody {
	color: #fff;
	font-size: 1rem;
	line-height: 2.42rem;
	background-image: url("../img/frame_10.png");
	background-size: 100% 100%;
	margin-top: 0.2rem;
	height: 2.42rem;
	cursor: pointer;
}

.indexBox .onLine .swiper-slide .red_warn  {
	/* background-image: url("../img/warningBox.png"); */
	/* border: 1px solid red; */
	box-shadow: inset 0 0 10px rgb(255, 0, 0);


}

.indexBox .onLine .swiperBody:hover {
	background-image: url("../img/frame_3.png");
	box-shadow:none;
}

.indexBox .onLine .swiperBody li.green {
	color: #3DFFCF
}

.indexBox .onLine .swiperBody li.red {
	color: #FF6161
}

.indexBox .onLine .swiperBody li.yellow {
	color: #FFA81E
}

.indexBox .onLine .swiperBody li.yellow {
	color: #FFA81E
}

.indexBox .right {
	width: 31.14rem;
	height: 100%;
}

.indexBox .quality {
	width: 100%;
	height: 24rem;
	background-image: url("../img/frame_0_new.png");
	background-size: 100% 100%;
	margin: 0 0 0.72rem 0;
}

.indexBox .quality .title {
	font-size: 1.72rem;
	text-shadow: 0px 3px 0px rgba(0, 9, 17, 0.52);
	color: #fff;
	padding: 0.7rem 0 1rem 5rem;
	font-family: "YS";
	letter-spacing: 0.15rem;
	line-height: 2.58rem;
}

.indexBox .quality .content {
	width: 25rem;
	height: 3rem;
	margin: 1rem 3.5rem;
	position: absolute;
	border: 1px solid #45c2ff;
	border-radius: 0.4rem;
	display: flex;
	align-items: center;
}

.indexBox .quality .content div {
	width: 50%;
	display: flex;
	justify-content: center;
	font-size: 1.1rem;
	font-weight: bold;
}

.indexBox .quality .echarts {
	width: 31rem;
	height: 19.5rem;
	background-image: url("../img/pieBase.png");
	background-size: 21.28rem 8.58rem;
	background-repeat: no-repeat;
	background-position: 50% 80%;
}

.indexBox .data {
	width: 100%;
	height: 48.8rem;
	background-image: url("../img/frame_2_new.png");
	background-size: 100% 100%;
	position: relative;
}

.indexBox .data .title {
	font-size: 1.72rem;
	text-shadow: 0px 3px 0px rgba(0, 9, 17, 0.52);
	color: #fff;
	padding: 0.7rem 0 1rem 5rem;
	font-family: "YS";
	letter-spacing: 0.15rem;
	line-height: 2.58rem;
	margin-bottom: 1rem;
}

.indexBox .data .box {
	width: 28.42rem;
	margin: 0 auto 1.4rem;
}

.indexBox .data .box .tag {
	width: 100%;
	height: 2.5rem;
	margin-bottom: 0.8rem;
	background-image: url("../img/frame_6_new.png");
	background-size: 100% 100%;
	padding: 0 0 0 3.28rem;
}

.indexBox .data .box .tag p {
	background: linear-gradient(0deg, #ACDDFF 0%, #FFFFFF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bolder;
	font-size: 1.32rem;
	line-height: 3rem;
	font-style: italic;
	transform: translate3d(0, -0.3rem, 0);
	-ms-transform: translate(0, -0.3rem, 0);
	-moz-transform: translate(0, -0.3rem, 0);
	-webkit-transform: translate(0, -0.3rem, 0);
	-o-transform: translate(0, -0.3rem, 0);
}

.indexBox .data .bodyInfo {
	width: 100%;
	height: 17.14rem;
	background-image: url("../img/frame_12_new.png");
	background-size: 100% 100%;
	padding: 0.92rem;
	display: flex;
}

.indexBox .data .bodyInfo .left {
	width: 24%;
	height: 100%;
}

.indexBox .data .bodyInfo .left .left_1 {
	position: relative;
	height: 50%;
}

.indexBox .data .bodyInfo .left .left_2 {
	position: relative;
	height: 50%;
}

.indexBox .data .bodyInfo .left .icon {
	width: 5.5rem;
	position: absolute;
	top: 1rem;
}

.indexBox .data .bodyInfo .left .triangle {
	width: 1rem;
	position: absolute;
	top: 2.5rem;
	left: 5rem;
}

.indexBox .data .bodyInfo .left span {
	color: #e4eff7;
	text-shadow: 2px 2px 5px #6fa3ef, -2px -2px 5px #6fa3ef, 0 0 10px #6fa3ef;
	position: absolute;
	top: 5rem;
	font-size: 1rem;
	font-weight: bold;
	left: 0.8rem;
}

.indexBox .data .bodyInfo .right {
	width: 76%;
	height: 100%;
}

.indexBox .data .bodyInfo .right_1  {
	padding-top: 0.5rem;
	width: 100%;
	height: 50%;
}

.indexBox .data .bodyInfo .right_2  {
	width: 100%;
	/* height: 50%; */
	height: 40%;
	margin-top: 1.3rem;
}

.indexBox .data .bodyInfo .right_3  {
	width: 100%;
	height: 50%;
}

.indexBox .data .bodyInfo .name {
	font-size: 1.14rem;
	margin-bottom: 0.2rem;
	font-weight: bold;
	color: #cccbcb;
}

.indexBox .data .bodyInfo .person {
	font-size: 1.1rem;
	height: 1.14rem;
	margin-bottom: 1rem;
	font-weight: bold;
	color: #F5D133;
	margin-left: 2rem;
}

.indexBox .data .list li {
	width: 33.3333%;
	float: left;
	line-height: 1.66rem;
	font-size: 1rem;
	color: #fff;
}

.indexBox .data .list li span {
	background: linear-gradient(0deg, #F5D133 0%, #EFB921 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	margin: 0 0 0 0.5rem;
}

/* .indexBox .data .bodyInfo .name {
	font-size: 1.14rem;
	height: 1.14rem;
	margin-bottom: 0.72rem;
	font-weight: bold;
	color: #17FFE1;
}

.indexBox .data .bodyInfo .info {
	width: 100%;
	height: 4.64rem;
	background-image: url("../img/frame_13.png");
	background-size: 100% 100%;
	padding: 0.32rem 1rem;
}

.indexBox .data .bodyInfo .info .type {
	width: 100%;
}

.indexBox .data .bodyInfo .info .type li {
	width: 30%;
	font-size: 1.14rem;
	color: #fff;
	line-height: 2rem;
	height: 2rem;
}

.indexBox .data .bodyInfo .info .type li span {
	background: linear-gradient(0deg, #F5D133 0%, #EFB921 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	margin: 0 0 0 1rem;
}

.indexBox .data .bodyInfo .info .type li:last-child {
	width: 70%;
}

.indexBox .data .list {
	width: 100%;
	height: 6rem;
	background-image: url("../img/frame_11.png");
	background-size: 100% 100%;
	padding: 0.5rem 1rem;
}

.indexBox .data .list li {
	width: 33.3333%;
	float: left;
	line-height: 1.66rem;
	font-size: 1.14rem;
	color: #fff;
}

.indexBox .data .list li span {
	background: linear-gradient(0deg, #F5D133 0%, #EFB921 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	margin: 0 0 0 1rem;
} */

.indexBox .data .roomTxt {
	position: absolute;
	width: 8.92rem;
	height: 2.14rem;
	/* background-image: url("../img/frame_8.png"); */
	/* background-size: 100% 100%; */
	top: 1.1rem;
	right: 1rem;
	text-align: center;
	color: #fff;
	font-size: 1.14rem;
	line-height: 2.14rem;
}